.row-container {
  display: grid;
  grid-template-columns: 7% repeat(3, 20%) 20%;
  grid-template-rows: auto;
  gap: 80px 20px;
  margin-bottom: 80px;
}

.order-group-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  font-size: 35px;
  color: rgba(255, 255, 255, 0.6);
}

.button {
  align-self: center;
  padding: 15px 0;
  background-color: #b54139;
  font-size: 16px;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin-left: 50px;
}

.button:hover {
  background-color: #b2281e;
}

.order-mobile-text {
  display: none;
}

hr {
  display: none;
}

@media only screen and (max-width: 768px) {
  .row-container {
    grid-template-columns: 100%;
    gap: 16px;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 15px;
    border: 1px solid #012b37;
    box-shadow: 5px 5px 10px #011e26;
    margin-bottom: 50px;
    padding: 20px;
  }

  .count {
    justify-self: start;
    margin-left: 5px;
  }

  .button {
    margin-left: 0;
    margin-top: 10px;
    padding: 8px;
    font-size: 14px;
  }

  .order-group-text {
    justify-content: start;
  }

  .order-group-text p {
    display: flex;
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
  }

  hr {
    display: flex;
    width: 100%;
    border: 1px solid rgb(255, 255, 255, 0.2);
  }
}
